@model CarFleetMS.Models.Driver

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Driver</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonCompany)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonCompany.PersonId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DriverId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
